body{
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(to bottom, #640505, #14144a);
}

header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 60px;
}

nav{
    margin-top: 60px;
    height: 30;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 105px; /* ajuste a largura conforme necessário */
    background-color: #000000; /* ajuste a cor de fundo conforme necessário */
  }

.exibirCarta {
    background-color: pink;
    height: 150px;
    width: 100px;
    margin-top: 300px;
}

table {
border-collapse: collapse;
margin-top: 100px;
margin-bottom: 100px;
}
th, td {
border: 1px solid black;
width: 40px;
height: 40px;
text-align: center;

}

td:hover{
background-color: rgba(48, 229, 48, 0.578);
transition: 0.4s;
cursor: pointer;
}

.fundo, .fundo2{
    background-color: blue;
}

.fundoBatalha{
background-image: url('./images/campodebatalha.jpg');
}

.fundoBase{
background-image: url('./images/baseA.jpg');
}

.fundoMuro {
background-image: url('./images/chão.jpg');
}

.fundoAreiaMar{
background-image: url('./images/marareia.jpg');
}

.fundoMar{
background-image: url('./images/mar.jpg');
}

.fundoAreiaMarInvertido {
background-image: url('./images/marareiaInvertido.jpg');
}

.muro{
background-image: url('./images/muro.jpg');
}



