body{
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(to bottom, #640505, #14144a);
}

header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    height: 60px;
    border-bottom: 2px solid white;
    gap: 10px;
    z-index: 1;
}

.turnos{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #00004d;
    border: 2px solid white;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

nav{
    margin-top: 62px;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-bottom: 2px solid rgb(87, 87, 87);
    z-index: 1;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 105px; /* ajuste a largura conforme necessário */
    background-color: #000000; /* ajuste a cor de fundo conforme necessário */
    border-right: 2px solid rgb(87, 87, 87);
    z-index: 1;
  }


.recolherStatusCartas{
    position: absolute;
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
    padding: 5px;
}

.recolherStatusCartas:hover,.girarBotao:hover, #reset-button:hover, .gerarCartas:hover, #ir-ao-fim:hover, #avancar-cartas:hover{
    background-color: #b60a0a;
}

.recolherStatusCartas,.girarBotao, #reset-button, .gerarCartas, #ir-ao-fim, #avancar-cartas{
    background-color: #640505;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    width: 135px;
}

.girarBotao, #reset-button, .gerarCartas, #ir-ao-fim, #avancar-cartas{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}


.exibirCarta {
    background-color: rgb(37, 37, 37);
    height: 190px;
    width: 100px;
    margin-top: 30px;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid white;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }

.locomocao{
    color: white;
    margin-top: -10px;
}


.textoCarta{
    color: white;
    margin-bottom: 10px;
    display: block;
}

.imagem{
    width: 90px;
    height: 90px;
    display: none;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 5px;
}

.imagem:hover{
    transition: 0.4s ease-in-out;
    scale: 1.2;
}

.mapa{
    overflow: auto;
}


table{
    border-collapse: collapse;
    margin-top: 110px;
    margin-bottom: 100px;
    margin-left: 100px;
    border: 3px solid rgb(7, 7, 7);
    table-layout: fixed;
    width: 800px;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.564);
    width: 40px;
    height: 40px;
    text-align: center;

}

td:hover{

    background-color: rgba(48, 229, 48, 0.578);
    transition: 0.4s;
    cursor: pointer;
}

.fundo, .fundo2{
    background-color: rgb(164, 164, 7);
}


.fundoBatalha{
background-image: url('./images/campodebatalha.jpg');
}

.fundoBase{
background-image: url('./images/baseA.jpg');
}

.fundoMuro {
background-image: url('./images/chão.jpg');
}

.fundoAreiaMar{
background-image: url('./images/marareia.jpg');
}

.fundoMar{
background-image: url('./images/mar.jpg');
}

.fundoAreiaMarInvertido {
background-image: url('./images/marareiaInvertido.jpg');
}

.muro{
background-image: url('./images/muro.jpg');
}



